.posts-container {
  color: var(--secondary-lightest);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  max-width: 640px;
  background-color: var(--primary-darker);
  min-height: calc(100vh - 100px);
  height: 100%;
  border: 1px solid var(--primary-dark);
  border-radius: 24px 24px 0 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3), 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 0 30px 0 rgba(0, 0, 0, 0.1),
    0 0 40px 0 rgba(0, 0, 0, 0.05);
}

.post {
  width: 100%;
  margin-top: 16px;
  border-bottom: 1px solid var(--primary-dark);
}

.post:last-child {
  border-bottom: none;
}

.posts-container-header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid var(--primary-dark);
  width: 100%;
}

.posts-container-header-title {
  color: var(--primary-light);
}

.posts-container-header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.create-post-button {
  background-color: var(--primary-darker);
  border: none;
  padding: 12px 20px;
  border-radius: 16px;
  cursor: pointer;
  color: var(--secondary-lighter);
  border: 1px solid var(--primary-dark);
  font-size: 1.25em;
}

.create-post-button:hover {
  background-color: var(--primary-dark);
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
