<div class="post">
  <img [src]="post.avatarUrl" alt="{{ post.username }}'s avatar" class="avatar" />
  <div class="post-content">
    <div class="post-header">
      <div class="post-info">
        <h3 class="username">{{ post.username }}</h3>
        <span class="timestamp">{{ post.timestamp | timeAgo }}</span>
      </div>
      <div class="post-menu">
        <button class="menu-button" (click)="toggleDropdown($event)">
          <i class="fa-solid fa-ellipsis"></i>
        </button>
        <div class="dropdown-menu" *ngIf="isDropdownOpen">
          <div class="dropdown-item" (click)="handleDelete(post.id)">
            <i class="fa-regular fa-trash-can"></i>
            Delete
          </div>
        </div>
      </div>
    </div>

    <app-hashtag-input [content]="post.content" [isEditable]="false" />

    <img *ngIf="post.imageUrl" [src]="post.imageUrl" alt="Post image" class="post-image" />
    <div class="post-actions">
      <span class="action"><i class="fa-regular fa-heart"></i> {{ post.likes }}</span>
      <span class="action"><i class="fa-regular fa-comment"></i> {{ post.comments }}</span>
      <span class="action"><i class="fa-regular fa-share-from-square"></i> {{ post.shares }}</span>
    </div>
  </div>
</div>
