.editor-container {
  min-height: 1rem;
  position: relative;
}

.editor-content {
  min-height: 1rem;
  position: relative;
}

.ProseMirror {
  min-height: 1rem;
  height: 100%;
  outline: none;
}

.suggestions {
  position: absolute;
  z-index: 1000;
}
